package.json
tsconfig.json
/node_modules
yarn.lock
pnpm-lock.yaml

.eslintrc.json
./vite.config.mjs

/public/*

# git
/.git/
*.tsbuildinfo

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local